<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>MISSION TO MARS</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
        </div>

        <!-- Latest Info and Title and Mars Fact Table-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <h2>Latest Mars News</h2>
                    <h3>{{ mars_data.news_title}}</h3>
                    <p>{{mars_data.news_paragraph}}</p>
                    <br>
                    <h2>Featured Mars Image</h2>
                    <img style="width:95%;"
                    src="https://mars.nasa.gov/system/downloadable_items/45346_PIA22743-2.jpg"
                    class="img-responsive" alt="Responsive image" />
                </div>
                <div class="col-md-5">
                    <h2>Mars Facts Table</h2>
                    {{ mars_data.fact_table | safe }}
                </div>
            </div>
        </div>
        <br>
        <br>
        <!-- Template for Hemisphere images-->
        <div class="col-md-12">
            <h4>Mars Hemispheres</h4>
            <div class="row">
                {% for item in mars_data.hemisphere_image_urls %}
                <div class="col-md-6">
                    <div class="card text-white bg-dark">
                        <img class="card-img-top" src="{{ item.img_url }}" />
                        <div class="card-body">
                            <p class="card-text">{{ item.title }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>